html{font-size:100% ;}
h1{font-size:2rem;background-color:#ffffff;display:inline-block;padding: 10px;
border-width:5px;border-style:solid;}
h2{color:#ed1c24;background-color:#ffffff;display:inline-block;}
body{text-align:center; background-color:rgb(205,92,92);}
section{border-bottom: 3px solid #000000}
article{background-color:#ffffff;display:inline-block;}
blue{color:#0bd;}
